[submodule "themes"]
	path = themes
	url = https://github.com/spf13/hugoThemes
[submodule "sir-wiggles.github.io"]
	path = sir-wiggles.github.io
	url = git@github.com:sir-wiggles/sir-wiggles.github.io
